@page "/login"
@inject IJSRuntime JsRunTime

<link href="css/MyStyles/MyStyles.css" rel="stylesheet" />

<div>
    <p id="loginheader">Zadajte svoje prihlasovacie udaje: </p>
    <form>
        <label for="fname" class="bold">Meno: </label>
        <input type="text" id="fname" name="fname">

        <label for="fpassword" class="bold">Heslo: </label>
        <input type="password" id="fpassword" name="fpassword">
    </form>
    <button type="button" onclick="alert('Work in progress')">Log in</button>

</div>

@code{

    ElementReference InputToFocus;


    async Task Focus()
    {
        await JsRunTime.InvokeVoidAsync("focusOnElement", InputToFocus);
    }

    async Task ShowAlert()
    {
        await JsRunTime.InvokeVoidAsync("createAlert");
    }

}